@import "../../themes.scss";

header {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 12px;

    animation: fade 2.5s;

    img {
        width: 60px;
        height: 60px;

        border-radius: 50%;
    }

    span {
        color: var(--text-color);
        font-family: 'Manrope', sans-serif;
        font-weight: bold;
        font-size: 22px;
    }
}

@media(max-width: 400px) {
    header {
        span {
            display: none;
        }
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}